* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #4300FF, #0065F8, #00CAFF, #00FFDE);
    color: #fff;
    position: relative;
}

.container {
    width: 800px;
    height: 180px;
    position: absolute;
    /*  */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock {
    height: 100%;
    width: 100%;
    background: rgba(235, 0, 255, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(40px);

}

.container::before {
    content: '';
    width: 180px;
    height: 180px;
    background: #f10597;
    border-radius: 5px;
    position: absolute;
    left: -10%;
    top: -45%;
    /* left: -50%;
    top: -50%; */
    z-index: -1;

}

.container::after {
    content: '';
    width: 180px;
    height: 180px;
    background: #0032f8;
    border-radius: 50%;
    position: absolute;
    /* right: -30%;
    bottom:-50%; */
    right: -10%;
    bottom: -45%;
    z-index: -1;

}

.clock span {
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock span::after {
    font-size: 16px;
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
}

#hrs::after{
    content: 'HOURS';
}
#min::after{
    content: 'MINS';
}
#sec::after{
    content: 'SEC';
}